<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de {{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="pokemon">
  <ion-card>
    <img [src]="pokemon.sprites?.front_default" alt="Imagen de {{ pokemon.name }}"/>
    <ion-card-header>
      <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Altura:</strong> {{ pokemon.height }}</p>
      <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
      

      <ion-item>
        <ion-label position="stacked">Tu reseña</ion-label>
        <ion-textarea [(ngModel)]="resena"></ion-textarea>
      </ion-item>

      <ion-button expand="block" (click)="guardar()">Guardar en Firebase</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
